.project
.pydevproject
*.db
*.orig
.vagrant

~*
*.sqlite3
*.sql

# OSX
.DS_Store
.AppleDouble
.LSOverride

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
coverage_html/
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env
virtualenv/
py36/

# local media, bin, static
media/
bin/
static/

# Hitch directory
tests/.hitch

