amqp==1.4.9
anyjson==0.3.3
cached-property==1.4.0
certifi==2018.1.18
chardet==3.0.4
docker==2.7.0
docker-compose==1.19.0
docker-pycreds==0.2.2
dockerpty==0.4.1
docopt==0.6.2
enum-compat==0.0.2
eventlet==0.31.0
greenlet==0.4.13
idna==2.6
jsonschema==2.6.0
kombu==3.0.37
mock==2.0.0
nameko==2.8.4
path.py==11.0
pbr==3.1.1
PyYAML==3.12
requests==2.18.4
six==1.11.0
texttable==0.9.1
urllib3==1.22
websocket-client==0.47.0
Werkzeug==0.14.1
wrapt==1.10.11
